@font-face {
  font-family: "bootstrap-icons";
  src: font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"),
    font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
}

body {
  background-color: #ddd;
}

.header-wrapper {
  background-color: #eee;
}

.body-wrapper {
  padding: 0;
}

#header {
  .actions {
    gap: 10px;
  }
  #login-box-header {
    gap: 5px;
  }
}

.form-normal {
  border: 1px solid $gray-500;
}

.video {
  background-color: #eee;
}

.video-info-wrapper {
  background-color: #eee;
  p {
    line-height: 1em;
  }
  .video-info {
    flex-basis: calc(100% - 95px);
  }
  .title {
    color: darkred;
    font-weight: bold;
  }
  .like-actions {
    font-size: 2.5em;
    flex-basis: 90px;
  }
  .description {
    font-size: 0.8em;
  }
  label {
    font-style: italic;
    font-weight: bold;
  }
}
